<h1>Log In</h1>
<form action="/auth/login" method="POST">
   <label for="email">Email</label>
   <input type="text" id="email" name="email">
   <label for="password">password</label>
   <input type="password" id="password" name="password">

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
<h2>{{errorMessage}}</h2>
{{/if}}