<div class="container">

  <h1 id="logo">Cuisiner</h1>
  <p class="logo-subtitle ">Reinvent the way you create groceries lists</p>

  <div class="buttoncontainer">
    <a href="/auth/signup" class="white-text">Sign up</a>
    <a href="/auth/login" class="white-text">Log in</a>
  </div>

</div>

{{#if errorMessage}}
<h2>{{errorMessage}}</h2>
{{/if}}
