<div class="container">

  <h1 id="logo">Cuisiner</h1>
  <p id="logo-subtitle ">Re-invent the way you create grocery lists</p>

  <div class="buttoncontainer">
    <a href="/auth/signup">Sign up</a>
    <a href="/auth/login">Log in</a>
  </div>

</div>

{{#if errorMessage}}
<h2>{{errorMessage}}</h2>
{{/if}}