<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav>
      <ul>
         <li class="anchor"><a href="/">Home</a></li>
         <li class="anchor"><a href="/recipes">My recipes</a></li>
         <li class="anchor"><a href="/pantry">My pantry</a></li>
         <li class="anchor"><a href="/profile">My profile</a></li>

         {{#if email}}
         <li class="anchor"><a href="/profile"></a>You are logged in as {{email}}</li>
         {{/if}}
      </ul>
   </nav>

   {{{body}}}

   <script src="/javascripts/app.js"></script>
   <script src="/javascripts/script.js"></script>
</body>

</html>