<form method="post" action="/pantry/options">

  <fieldset>
    <legend>Add ingredients</legend>
    {{#each ingredients}}
    <input type="checkbox" name="option" value="{{name}}">{{name}}<br>
    <br>
    {{/each}}
    <input type="submit" value="Submit now" />
  </fieldset>
</form>