<form method="post" action="/pantry/options">

  <fieldset>

    <legend>Add ingredients {{this.category}}</legend>
    {{#each ingredients}}
    <input type="checkbox" name={{name}} value={{name}}>{{name}}<br>
    <br>
    {{/each}}
    <input type="submit" value="Submit now" />
  </fieldset>
</form>