<h1>My pantry</h1>

{{#each pantry}}
<p>{{name}}: {{amount}} </p>

{{/each}}

<a href="/pantry/add">Add customized ingredient!</a>
<a href="/pantry/options">Add ingredients from a predefined list!</a>