<h1>Edit Ingredient </h1>


<h3>Editing {{foundIngredient.name}}</h3>
<h3>The current amount is {{foundIngredient.amount}}</h3>

<form action="/pantry/edit" method="POST">
  <p>
    <label>Category</label>
    <input type="text" name="category" placeholder="enter category">
  </p>

  <label for="name">Ingredient name</label>
  <input type="text" name="name">

  <p>
    <label>Availability</label>
    <select name="availability" id="availability">
      <option value="I always have this ingredient">I always have this ingredient</option>
      <option value="I sometimes have this ingredient">I sometimes have this ingredient</option>
    </select>
  </p>

  <label for="amount">Amount</label>
  <input type="number" min="1" name="amount" placeholder="Optional">

  <button type="submit">Enter ingredient</button>

</form>