<div class="pantrycontainer add-pantry">
  <h1>My Pantry</h1>
  {{#if errorMessage}}
  <h4>{{this.errorMessage}}</h4>
  {{/if}}
  <form action="/pantry/add" method="POST">
    <p>
      <label>Category</label> </br>
      <input type="text" name="category" id="category">
    </p>

    <label for="name">Ingredient name</label> </br>
    <input type="text" name="name"></br>

    <label for="amount">Amount</label> </br>
    <input type="number" min="1" name="amount" placeholder="Optional"> </br>

    <button type="submit">Enter ingredient</button>
  </form>

</div>