<button><a href="/auth/logout">Log out</a></button>
<h1>Welcome to your cookbook</h1>



<form action="/update-password" method="POST">
    <label for="">Old Password</label>
    <input type="password" name="oldPassword">
    <br>
    <label for="">New Password</label>
    <input type="password" name="newPassword">
    <br>
    <label for="">Confirm New Password</label>
    <input type="password" name="confirmPassword">
    <br>
    <button type="submit">Update your password</button>
</form>
<button><a href="/recipes/new-recipe">Add a recipe</a></button>
<button><a href="/recipes">See your recipes</a></button>
<button><a href="/pantry">See your pantry</a></button>
