<div class="profile">
    <div class="profile-title">
        <h1>Welcome to your cuisine!</h1>
    </div>
    <div class="profile-content">
        <div class="update-password">
            <h3>Update your password</h3>
            <form action="/update-password" method="POST">
                <label for="">Old Password:</label><br>
                <input type="password" name="oldPassword">
                <br>
                <label for="">New Password:</label><br>
                <input type="password" name="newPassword">
                <br>
                <label for="">Confirm New Password:</label><br>
                <input type="password" name="confirmPassword">
                <br>
                <button type="submit">Update your password</button>
            </form>
            <form action="/delete-profile" method="POST">
                <button type="submit">Delete your profile</button>
            </form>
        </div>
        <div class="add-recipe">
            <a class="white-text" href="/recipes/new-recipe">Add a recipe</a>

        </div>
    </div>

</div>
