<div class="recipe-form">
    <div class="recipe-title">
        <h1>Add your recipe</h1>
    </div>
    <div class="recipe-form-content">
        <form action="/recipes/recipe" method="POST" enctype="multipart/form-data">
            <label for="title">Title:</label><br>
            <input type="text" name="title"><br>


            <label for="description">Description:</label><br>
            <textarea name="description" id="description" cols="50" rows="4"></textarea><br>

            <label for="ingredients">Please, fill in your ingredients separated by a comma:</label><br>

            <textarea id="ingredients" name="ingredients" rows="4" cols="50">
        </textarea><br>

            <label for="directions">Directions:</label><br>
            <textarea name="directions" id="directions" cols="50" rows="4"></textarea><br>

            <label for="duration">Duration in minutes:</label><br>
            <input type="text" name="duration" id="duration"><br>

            <label for="dishes">Dish type:</label><br>
            <select id="dishes" name="dishes">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
            </select><br>

            <label for="servings">Serving size:</label><br>
            <input type="number" min="1" name="servings" id="servings"><br>
            <label for="images">Upload an image:</label><br>
            <input type="file" name="imageUrl" accept="image/png, image/jpg"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
