<div class="recipes-library">
    <h1>Recipes library</h1>
    <div class="list-header">
        <form id="search-recipes" action="/recipes" autocomplete="off">
            <input name="search" type="text" placeholder="Search recipes...">
        </form>
        <div class="add-recipe-list">
            <a href="/recipes/new-recipe">Add a recipe</a>
        </div>
    </div>
    <ul class="recipes-list">

        {{#each recipes}}
        <div class="recipe-card">
            <li>
                <a href="/recipes/{{_id}}" class="rec-title">{{loud title}}</a>
                <p>{{upper description}}</p>
            </li>
        </div>
        {{/each}}


    </ul>

</div>
