<h1>Recipes library</h1>
<form id="search-recipes">
    <input type="text" placeholder="Search recipes...">
    <button type="submit"><a href="#">Search</a></button>
</form>

<ul id="recipes-list">

    {{#each recipes}}
    <li>
        <a href="/recipes/{{_id}}">
            <h1>{{title}}</h1>
        </a>
        <p>{{description}}</p>
    </li>

    {{/each}}

</ul>
