<nav class="navbar">
    <ul>
        <li><a href="/recipes">My recipes</a></li>
        <li><a href="/pantry">My pantry</a></li>
        <li><a href="/profile">My profile</a></li>
    </ul>
</nav>

<h1>Recipes library</h1>
<form id="search-recipes">
    <input type="text" placeholder="Search recipes...">
    <button>Search</button>
</form>
<ul id="recipes-list">

    {{#each recipes}}
    <li>
        <h1>{{title}}</h1>
        <h4>Description:</h4>
        <p>{{description}}</p>
    </li>

    {{/each}}

</ul>

