<h1>recipes list</h1>
<form id="search-recipes">
    <input type="text" placeholder="Search recipes...">
    <button>Search</button>
</form>
{{#each recipes}}
<ul id="recipes-list">
    <li>
        <h1>{{title}}</h1>
        <h4>Description:</h4>
        <p>{{description}}</p>
    </li>
</ul>

{{/each}}
