@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&family=Source+Serif+Pro:wght@400;600;700&display=swap);
body,
button {
  color: #522b47;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fbf5f3;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  font-family: "Source Serif Pro", serif;
  color: #522b47;
}

h2,
h4 {
  font-weight: 400;
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
  color: #522b47;
  margin: 20px 0;
  padding: 0;
}

h4 {
  font-size: 20px;
}

.white-text {
  color: #fbf5f3 !important;
}

button {
  text-decoration: none;
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
}

a:hover {
  background-color: #b9cbc3;
}

#logo {
  margin: 10px auto;
  font-size: 144px;
}

.logo-subtitle {
  font-size: 20px;
  font-weight: 100;
}

.buttoncontainer,
.container {
  display: flex;
  align-items: center;
}

.container {
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}

.buttoncontainer {
  flex-direction: row;
  justify-content: space-around;
}

a,
input,
select,
textarea {
  background-color: #8daa9d;
  color: #522b47;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: #522b47;
  margin: 10px;
  padding: 10px 30px;
  font-weight: 300;
}

.navbar {
  display: flex !important;
  justify-content: flex-start;
  border-bottom: 1px solid #8daa9d;
}

nav ul {
  display: flex;
}

.auth-container {
  margin-top: 100px;
  margin-left: 70px;
}

.signup-container form {
  display: contents;
}

#user {
  margin-left: 200px;
}

.anchor,
.profile,
.recipe,
.recipe-form {
  list-style-type: none;
}

.anchor a {
  background-color: transparent;
  font-size: 18px;
  margin-left: 0;
}

.anchor a:hover,
.recipes-library input {
  border-bottom: 1px solid #b9cbc3;
}

.profile,
.recipes-library {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profile {
  margin-top: 100px;
}

.profile-title h1,
.recipe-form h1,
.recipe-title h1,
.recipes-library h1 {
  font-size: 60px;
}

.list-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  justify-content: flex-end;
}

.list-header h1 {
  margin-right: 300px;
}

.recipes-library input {
  background-color: transparent;
  border-radius: 0;
}

.recipes-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.rec-title,
.update-password h3 {
  font-weight: 300;
  border-bottom: 1px solid #8daa9d;
}

.rec-title {
  background-color: transparent;
  font-size: 20px;
}

.recipe-card {
  width: 300px;
  margin: 30px;
  border: 1px solid #8daa9d;
  border-radius: 30px;
  height: 200px;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  display: flex;
}

.recipe-card li {
  align-self: center;
  width: 100%;
}

.recipe-card p {
  padding-top: 10px;
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.update-password {
  margin-left: 70px;
  border: 1px solid #8daa9d;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

.update-password h3 {
  text-align: center;
}

.recipe-form-content button,
.update-password button {
  margin-top: 20px;
}

.recipe-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-form {
  text-align: center;
}

.recipe-form-content {
  margin-top: 50px;
}

.add-recipe {
  margin-right: 580px;
}

.add-recipe a {
  padding: 50px;
  border-radius: 80px;
  font-weight: 300;
}

.add-recipe-list {
  align-self: center;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe p,
.recipe ul {
  font-weight: 200;
  line-height: 1.5;
}

.recipe p {
  text-align: center;
  width: 50vw;
}

.img {
  height: 200px;
  width: auto;
  background-size: cover;
}

.infos {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #8daa9d;
  margin: 20px 0;
  width: 400px;
}

.recipe ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipe button {
  font-weight: 300;
  margin: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
textarea {
  outline: 0;
}

input {
  border: 0;
  color: #522b47;
  padding: 5px 10px;
}

label {
  font-weight: 100;
}

select,
textarea {
  margin: 10px;
  padding: 5px 20px;
}

textarea {
  resize: none;
  border: 0;
}

select {
  color: #f8f6ea;
}

.recipe ul,
.shopping-list {
  text-align: center;
}

.shopping-list input {
  visibility: hidden;
}

.shopping-list input:checked + label {
  text-decoration: line-through;
}

td {
  font-weight: 200;
  text-align: justify;
}

th {
  font-weight: 400;
  text-align: start;
}

button,
td > a {
  background-color: transparent;
  border-bottom: 1px solid #8daa9d;
}

button:hover,
td > a:hover {
  background-color: #b9cbc3;
}

.pantrycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.table-pantry {
  width: 100%;
  margin: 30px;
}

.add-pantry {
  text-align: center;
  font-size: 18px;
}

.add-pantry button,
input,
option {
  margin: 10px;
  font-size: 18px;
}

.bottom-anchors {
  margin: 20px auto;
  display: flex;
  align-items: space-around;
  justify-content: center;
}

.pantry {
  width: 100%;
}

.search-pantry {
  border-radius: 0;
  border-bottom: 1px solid #8daa9d;
  background-color: transparent;
  margin: 20px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 0;
}

.optioncontainer {
  width: 400px;
  border: 1px solid #8daa9d;
  border-radius: 30px;
  margin: 30px;
  padding: 30px;
}

.submitoptions {
  position: sticky;
  top: 230px;
  margin-left: 75vw;
  padding: 20px;
  font-size: 20px;
}

legend {
  margin-left: 50px;
}

.midsentence-anchor {
  background-color: transparent;
  margin: 0;
  padding: 5px 10px;
  font-style: italic;
}
